@import "styles/variables";

.PrimaryButton {
  color: $text-primary-inverse;
  background-color: $blue-5;
  border: 1px solid $blue-5;
  box-shadow: 0px 2px 0px rgba($neutral-13, .043);

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background-color: $blue-6;
    border: 1px solid $blue-6;
  }

  &:not(:disabled):active {
    background-color: $blue-7;
    border: 1px solid $blue-7;
  }

  &:not(:disabled):focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba($blue-6, .1);
  }
}
